{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TODO APP</title>
    <!-- Bootstarp CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>

<body>
    <!-- Navbar -->
    {% include 'core/navbar.html' %}
    <!-- Navbar End -->
    
    
    
    <div class="container my-5">
        {% block container %}
        {% endblock container %}
    </div>

    <!-- Footer -->
    {% include 'core/footer.html' %}
    <!-- Footer End -->

    <!-- Bootstarp JS -->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>